header {
    overflow: hidden;
    background: #3f51b5;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
}

.headline {
    color: #fff;
    display: block;
    text-align: left;
    padding-left: 20px;
}